<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign description = page.description | default: page.excerpt | default: site.description | strip_html %}
    {% if page.title == "2083" %}
    <title>{{ site.title }}</title>
    {% else %}
    <title>{{ site.title }} / {{ page.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/main.css">
    <script src="/assets/jquery-3.2.1.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
    {% seo %}
</head>
