---
layout: post
title: 72 rolls _ 32 balls
imgpath: "/img/rolls/"
---
<div id="description" class="panel">
<h2></h2>
<p>
  <b>Description: </b> A single location provides for the preservation and on-going collection of toilet rolls, the cardboard is of an industrial weight entirely disproportionate to its function.
</p>
<p>
  Meanwhile... from a completely unrelated set of conditions (during the same time period), an unusually large quantity of snooker balls became available for consideration.
</p>
<p>
  Eventually the rolls and the balls were introduced and are now inseperable.
</p>
<p>
  The composition of the piece is numerous as it adheres to a simple set of parameters.
</p>
<span>+ info upon request</span>
</div>
<div class="media post">
  {% for image in site.static_files %}
    {% if image.path contains page.imgpath %}
      <img src="{{ image.path | absolute_url}}" alt="image" />
    {% endif %}
  {% endfor %}
</div>
